@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:ital,wght@0,300;0,400;0,700;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.caixa1 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px; 
           
}

/* .caixa1 img {
margin-right: 500px;
margin-left: 500px;
} */

.caixa2 img {
    margin-top: 25px;
    width: 100%;
    
}

.caixa3 {
    display: flex;
    justify-content: space-between;
    padding-left: 45px;
    padding-right: 45px;
    height: 10vh;
    /* border: solid 2px red; */
    align-items: center;
      
} 

.principal {
    display: flex;
    justify-content: center;
    align-items: center;

}

/* .caixa3 h2 {

    margin-right: 1050px;  
    
} */


.box1 img {
    width: 15vw;
    display: block;
    
}

.conteiner1 {
    /* border: solid 1px yellow;   */
    border-top: 1px solid gray;
    /* margin-left: 110px; */
    width: 100%;
    height: 200vh;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid gray;
    justify-content: space-around;
    
    
}

.box1 {
    display: flex;
    flex-direction: column;
    /* border: solid 1px rgb(9, 250, 238);  */
    height: 60vh;
    justify-content: space-around;
    width: 25vw;
    
    
}

.box1 button {
    color : white;
    background-color: #5CA720;
    border-radius: 7px;
    width: 7vw;
    height: 5vh;
    border: none;
    cursor: pointer;
    box-shadow: 1px 2px 3px #A5A1A1;
    
}

.box1 button:hover {
    background-color: #512200;
    
}

.conteiner2 button:hover {
    background-color: #512200;
}

span {
    color: #5CA720;
    border-bottom: 1px solid #5CA720 ;
    
}

figure {
    background-color: #5CA720;
    width: 15vw;
    border-radius: 4px;
}
.box1 img:hover{
    opacity: 0.5;
    transition: 3s;
}

a {
    text-decoration: none;
    color: black;

}

footer {
    background: #F9F9F9;

}

li {
    list-style: none;
    padding-top: 10px;
}

form button{
    background-color: #5CA720;
    width: 7vw;
    height: 5vh;
    color: white;
    border: none;
    cursor: pointer;
}
.conteiner2 {
    display: flex;
    /* border: solid 1px yellow;  */
    height: 35vh;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    
}

input {
    width: 20vw;
    height: 5vh;
    border: none;
    padding-left: 10px;
    /* background-color: blue; */
}

h3 {

   margin-bottom: 15px;
}

 form {
    display: flex;
}

.box2 {
    margin-left: 85px;
} 

.box3 {
    margin-right: 85px;
}

.box4 {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding-left: 85px;
    padding-right: 85px;
    /* border: solid 1px yellow;  */
    height: 20vh;
}

@media (max-width: 500px) {
    .conteiner1 {
        width: 100%;
        height: 300vh;
    }

    .box1 {
        width: 35vw;

    }
    
    .principal {
        height: 300vh;
    }

    .box1 img {
        width: 30vw;
    }

    .box1 button {
        width: 15vw;
    }

    .conteiner2 {
        display: flex;
        flex-direction: column;
        height: 70vh;
        padding-bottom: 50px;
       
    }

    form {
        display: flex;
        flex-direction: column;
    }
    
    input {

        width: 80vw;
        height: 8vh;
        margin-bottom: 20px;
    }

    form button {
        width: 80vw;
        height: 8vh;
    }
    
   .box2 {
    /* border: solid 1px green; */
    width: 80vw;
    margin-right: 100px;
    

   }

   .box3 {
    /* border: solid 1px purple; */
    margin-left: 70px;
    
    
   }

   
}